body {
  background-color: powderblue;
}
h1 {
  color: red;
}
h2 {
  color: orange;
}
h3 {
  color: purple;
}
h4 {
  color: pink;
}
h5 {
  color: black;
}
h6 {
  color: grey;
}
table, th, td {
	border: 1px solid black;
}
.small {
  font-size: smaller;
}
.container {
      width: 50%;
      margin: 50px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
    .info-basica {
      font-weight: bold;
      text-decoration: underline;
    }
    .info-basica,
    .form-group:nth-child(2)~.form-group:nth-child(4) {
      background-color: green; /* Color de fondo para Información Básica */
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 15px;
    }
    .nacionalidad {
      background-color: orange; /* Color de fondo para Nacionalidad */
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 15px;
    }
    .select-estudios {
      background-color: pink; /* Color de fondo para Estudios */
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 15px;
    }
    .checkbox-group {
      background-color: #FFB6C1; /* Color de fondo para Idiomas */
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 15px;
    }
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="email"],
    select {
      width: calc(100% - 10px);
      padding: 5px;
      margin-top: 5px;
    }
    .btn-group {
      text-align: right;
      margin-top: 20px;
    }
    .btn {
      padding: 8px 20px;
      margin-left: 10px;
    }
    .radio-group {
      display: flex;
      align-items: center;
      padding: 5px;
      border-radius: 5px;
    }
    .checkbox-inline {
      display: inline-block;
      margin-right: 20px;
    }
