body {
  background-color: powderblue;
}
h1 {
  color: red;
}
h2 {
  color: orange;
}
h3 {
  color: purple;
}
h4 {
  color: pink;
}
h5 {
  color: black;
}
h6 {
  color: grey;
}
table, th, td {
	border: 1px solid black;
}
.small {
  font-size: smaller;
}
.small::before {
  position: absolute;
  top: 50%;
  left: -10px;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  transform: translateY(-50%);
}
.small::after {
  content: 'or24';
  position: absolute;
  top: 50%;
  right: -30px; 
  transform: translateY(-50%);
  text-decoration: underline;
}
