body {
  background-color: powderblue;
}
h1 {
  color: red;
}
h2 {
  color: orange;
}
h3 {
  color: purple;
}
h4 {
  color: pink;
}
h5 {
  color: black;
}
h6 {
  color: grey;
}
table, th, td {
	border: 1px solid black;
}
.small {
  font-size: smaller;
}
